<div class="row">
  <div class="container">
  <div class="col-md-12">
<div class="article">

    <h1>
  <% if @blog %>
        <i class="fa fa-file-text-o"></i> <%= t('articles.blog_archive')%>
  <% else %>
        <i class="fa fa-archive"></i> <%= t('articles.archive')%>
  <% end %>

  </h1>
  <%= render 'article_list' %>
  </div>
  </div>
  </div>
</div>