<div class="row">
  <div class="container">
  <div class="col-md-12">
<div class="article">

    <h1>
<i class="fa fa-tags"></i> <%= params[:hashtag] %>


  </h1>
  <%= render 'article_list' %>
  </div>
  </div>
  </div>
</div>