<div class="container top-margin no_padding">
	<div class="col-md-12">
		<h1>Jubileumsboka ISFiT 25 år</h1>
		<%= link_to isfit_jubileum_path  do %>
			<div class="col-md-3 jubilee_back_button no_padding">
				 <h4>Tilbake til informasjonssiden</h4>
			</div>
		<% end %>
	</div>
	<div class="col-md-12">
		<iframe src="https://docs.google.com/forms/d/1J61U1x5CW1hYouzLTQ6fRw-Ga7LwWZp0b2_vCnvxLIw/viewform?embedded=true" width="100%" height="1000" frameborder="0" marginheight="0" marginwidth="0">Laster inn ...</iframe>
	</div>
</div>
