<div class="container top-margin no_padding">
	<div class="col-md-12" id="h1_isfit_jubi">
		<h1>ISFiT 25år</h1>
	</div>
	<div class="col-md-7 no_padding">
		<div class="col-md-12">
			<div class="col-md-12 no_padding">
				<p>
					I 2015 er det 25 år siden verdens største internasjonale studentfestival ble arrangert for første gang. I et kvart århundre har de beste studentene i Trondheim lagt til rette for at studenter fra hele verden kan møtes til dialog, debatt og relasjonsbygging. Dette skal selvfølgelig markeres!
				</p>
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-12 no_padding">
				<h3 class="h3_isfit_jubi">25-årsjubileum for ISFiT</h3>
				<p>
					I 2015 er det 25 år siden verdens største internasjonale studentfestival ble arrangert for første gang. I et kvart århundre har de beste studentene i Trondheim lagt til rette for at studenter fra hele verden kan møtes til dialog, debatt og relasjonsbygging. Dette skal selvfølgelig markeres! Lørdag 18.april inviterer vi alle ISFiT-frivillige gjennom tidene til Trondheim og vår jubileumsfest.
				</p>
				<p>
					Feiringen vil foregå på Scandic Lerkendal, en liten rusletur fra Studentersamfundet.
				</p>
				<p>
					Kveldens program:<br>
					18.00: Mottakelse og aperitiff<br>
					19.00: Treretters festmiddag, inkludert drikke<br>
					21.30: Fest og konsert med Leisure Suit Lovers
				</p>
				<p>Antrekk: Galla</p>
				<b><p>Er du eller har du vært ISFiT-frivillig og ønsker å melde deg på? Gjør det <%= link_to 'her', kjop_jubileums_billett_path %>. Det koster 900 kr å delta, og dette skal overføres til konto 9235 11 25162. etter påmelding. </p></b>
			</div>
			<div class="col-md-12 no_padding">
				<h3 class="h3_isfit_jubi">Jubileumsboken ISFiT 25 år – Det umulige tar bare litt lenger tid</h3>
				<p>
					Boka "Det umulige tar bare litt lengre tid" (Tønseth og Djupedal red., 2014) er endelig i salg!
				</p>
				<p>Boken ble lansert 27.januar 2015, og selges på Studentersamfundet under ISFiT 2015 og under jubileumshelga (18.april). For deg som ikke har anledning til å kjøpe boka i Trondheim er det nå mulig å bestille boken her.</p>

				<b><p>
					Boken koster 299,- og kan kjøpes <%= link_to 'her', kjop_bok_path %>.
				</p></b>	
			</div>
		</div>
	</div>
	<div class="col-md-5">
		<%= image_tag 'jubileum.jpg', :class => 'jubilee_photo' %>
		<p>Foto: Fotogjengen, Samfundet.</p>
	</div>
</div>
