<div class="container">
	<section id="intro">
		<div class="row">
			<div class="grey-well col-md-4">
				<h3>Om ISFiT</h3>
				<p>ISFiT står for ”Internasjonal Studentfestivalen i Trondheim”. Det navnet imidlertid ikke forteller, er at ISFiT også er verdens største internasjonale studentfestival.</p>
			</div>
			<div class=" div-explore-logo col-md-4">
				<div id="jstwitter">
				</div>
			</div>
			<div class="grey-well col-md-4">
				<h3>Nye saker</h3>
				<ul>
					<li>hallo</li>
					<li>hallo</li>
					<li>hallo</li>

				</ul>
			</div>
		</div>
	</section>
	<section id="articles">
	</section>
	</div>