// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.article-image {
}
.article-image img {
  width:100%;
}
.latest-blogs-image-top img{
  width:100%;
  max-height: 316px;
}
.latest-blogs-image-bottom img{
  width: 100%;
  max-height: 149px;
  margin-top: 20px;
}
.blue-well{
  display:block;
  min-height: 20px;
  padding: 14px;
  margin-bottom: 20px;
  background-color: #0099CC;
  border: 1px solid #f5f1f1 ;
  border-radius: 0;
  color: #FFFFFF;
  font-size: 1.1em;
  font-weight: bold;
}
.twitter-widget-0{
  width: 100%;
}
.no_padding{
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.no_padding_left{
  padding-left: 0px !important;
}
.no_padding_right{
  padding-right: 0px !important;
}
.article_content img{
  width:100%;
}
.article {
  h1 {
    font-size: 3.5em;
    line-height: 1.5em;
    color: #EFAB44;
  }
  #page-ingress > p > img {
    width: 80%;
    display: block;
  }

  #page-ingress p {
    font-size: 1.2em;
    line-height: 1.3em;
  }
  #page-ingress > p > small {
    font-size: 0.8em;
    line-height: 1.3em;
  }
  #date {
    float: right;
  }
  h2, h3, h4, h5, h6 {
    line-height: 2em;
    color: #EFAB44;
  }
}

.facebook-tag{
  vertical-align: middle;
  border: 1px solid #3b5998;
  background-color: #3b5998;
  text-decoration: none;
  display: inline-block;
  margin-right: 10px;
  .fa-facebook{
    text-decoration: none;
    background-color: #3b5998;
    color: #FFF;
    border-radius: 0;
    border: 0;
    margin-left: 4px;
    margin-top: 1px;

  }
  .fb-counter{
    text-decoration: none;
    background-color: #FFF;
    color: #000;
    display: inline-block;
    height: 100%;
    padding-left: 4px;
    padding-right: 4px;
  }
}
.twitter-tag{
  vertical-align: middle;
  border: 1px solid #55acee;
  background-color: #55acee;
  text-decoration: none;
  display: inline-block;
  overflow: hidden;
  .fa-twitter{
    text-decoration: none;
    background-color: #55acee;
    color: #FFF;
    border-radius: 0;
    border: 0;
    margin-left: 4px;
    margin-top: 1px;

  }
  .twitter-counter{
    text-decoration: none;
    background-color: #FFF;
    color: #000;
    display: inline-block;
    height:100%;

    padding-left: 4px;
    padding-right: 4px;
  }
}


p {
  line-height: 1.5em;
}

