// Place all the styles related to the frontpage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#articles{
	margin-top:200px;
	height:1000px;
}
.div-explore-logo{
	text-align: center;
}
.explore-logo{
	max-width: 100%;
}
#jstwitter {
	width: 300px;
	font-family: georgia;
	font-size: 15px;
	color: #333333;
	padding: 10px;
}

#jstwitter .tweet {
	margin: 0 auto 15px auto;
	padding: 0 0 15px 0;
	border-bottom: 1px dotted #ccc;
}

#jstwitter .tweet a {
	text-decoration: none;
	color: #13c9d0;
}

#jstwitter .tweet a:hover {
	text-decoration: underline;
}

#jstwitter .tweet .time {
	font-size: 10px;
	font-style: italic;
	color: #666666;
}

.orange-well-front:hover{
  background-color: #EFAB44;
  color: #FFFFFF;
  text-decoration: none;
}
.orange-well-front{
  display:block;
  min-height: 20px;
  padding: 14px;
  margin-bottom: 20px;
  border: 1px solid #EFAB44;
  border-left: 3px solid #EFAB44;
  border-radius: 0;
  color: #000;
  font-size: 1.1em;
  font-weight: bold;

}
.blue-well-front:hover{
  background-color: #0099CC;
  text-decoration: none;
  color: #FFF;
}
.blue-well-front{
  display:block;
  min-height: 20px;
  padding: 14px;
  margin-bottom: 20px;
  border: 1px solid #0099CC ;
  border-left: 3px solid #0099CC ;
  border-radius: 0;
  color: #000;
  font-size: 1.1em;
  font-weight: bold;
}
.orange-text{
  color: #EFAB44;
}
.cn_wrapper{
  width: 100%;
  position:relative;
  overflow:hidden;
  color: #000000;
}
.cn_wrapper h1{
  font-size:2em;
}
.cn_wrapper h2{
  font-size:1.2em;
  font-weight: bold;
  border-bottom:1px solid #000;
  padding-bottom:4px;
  color: #EFAB44;
  margin-top: 0px;
}
.cn_preview, .cn_list{
  width:100%;
  right:6px;
}
.show_video{
  width:100%;
}
.cn_content{
  width:100%;
  background-color:#FFFFFF;
  overflow: hidden;
}
.read_more {
  //width: 100%;
  position:absolute;
  bottom:0px;
  left:15px;
  right: 0px;
}
.video_content{
  width:100%;
}
.cn_content_invisible{
  visibility: hidden;
  display: none;
}
.video_content_invisible{
  visibility: hidden;
  display: none;
}
.cn_content img{
  width:100%;
}
.add_top_margin{
  margin-top:4px;
}
.cn_date{
  bottom:30px;
  right:8px;
  font-size:0.7em;
}
.cn_category{
  bottom:30px;
  left:8px;
  font-size:0.7em;
  padding:1px 3px;
  background:#EFAB44;
  color:#000000;
}
.cn_category a{
  color:#000000;
}
.cn_content p{
  margin-top:2px;
  overflow:hidden;
}
.cn_content h1{
  color: #EFAB44;
}
a.cn_more{
  padding: 4px 2px;
  width:236px;
  color:#fff;
  text-align:center;
  font-size:0.8em;
  letter-spacing:1px;
  text-transform:uppercase;
  outline:none;
  background-color: #0099CC;
}
a.cn_more:hover{
  color: #011c44;
}
.instagram_image{
  width: 100%;
}
.cn_item{
  cursor:pointer;
  position:relative;
  overflow:hidden;
  height:75px;
  color:#000000;
  padding:5px;
  white-space: nowrap;
  border-left:3px solid #0099CC;
  background:#FFFFFF;
}
.video_item{
  cursor: pointer;
  font-size: 1em;
}
.selected_video{
  color: #0099CC;
}
.no_padding{
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.no_padding_left{
  padding-left: 0px !important;
}
.no_padding_right{
  padding-right: 0px !important;
}
.instagram_padding_left{
  padding-left: 5px !important;
}
.instagram_padding_right{
  padding-right: 5px !important;
}
.cn_item:hover{
  background-color: #f5f5f5;
  border-left:3px solid #EFAB44;
}
.selected{
  background-color: #f5f5f5;
  border-left:3px solid #EFAB44;
}
.cn_item:active {
  color: #011c44;;
}
.cn_list p{
  height:29px;
  padding-top:2px;
  overflow:hidden;
}
.video_list {
  height: 20px;
}
.top-margin{
  margin-top: 30px;
}
.top-margin-col{
  margin-top:40px;
}
.bottom-margin{
  margin-bottom:20px;
}
.header {
  font-size: 3.5em;
  line-height: 1.5em;
  color: #EFAB44;
}
.video_wrapper{
  padding-left: 15px;
}
.video_wrapper:hover .button_left
{
  display: block;

}
.video_wrapper:hover .button_right
{
  display: block;
}

.button_left{
  position:absolute;
  top:45%;
  left:35px;
  display:none;
  color: #0099CC;
  font-size: 2em;
}
.button_right{
  position:absolute;
  top:45%;
  right:20px;
  display:none;
  color: #0099CC;
  font-size: 2em;
}

.link_button{
  width: 100%;
  margin-bottom: 20px;
  display:block;
  min-height: 60px;
  background-size: 100%;
}
.blank-well{
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  //background-color: #EFAB44;
  border: 1px solid #aaa ;
  border-radius: 0;

}
#twitter-widget-0{
  width: 100%
}