// Place all the styles related to the Tabs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tab-page {
  header h1 {
    font-size: 3.5em;
    line-height: 1.5em;
  }
  #page-ingress > p > img {
  	width:80%;
    display: block;
  }
  
  #page-ingress p {
    font-size: 1.2em;
    line-height: 1.3em;
  }
  #page-ingress > p > small{
    font-size: 0.8em;
    line-height: 1.3em;
  }


  p {
    line-height: 1.5em;
  }
  h1, h2, h3, h4, h5, h6 {
    line-height: 2em;
    color: #EFAB44;
  }


}
.sidebar{
  position: fixed;
  margin-top: 30px;
  text-align: center;
}
.sidebar .navbar{
  background-color: #FFFFFF !important;
}
.navbar-left > ul > li > a {
  color: #000000;
}

.sidebar .nav {
  text-align: left;
  list-style: none;
}
.navbar-left > ul > li > a:hover {
  background-color: #FFFFFF;
  color: #EFAB44;
}
.nav-left > li.active {
  border-left:2px solid #EFAB44;
}
.nav-left > li {
  border-left:2px solid #0099CC;
}
.workshop_content_invisible{
  display: none;
}
.workshop-picture{
  width: 100%;
}
.workshop-field-1{
  border-left: 3px solid #EFAB44;
  margin-top: 5px;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.workshop-field-0{
  border-left: 3px solid #0099CC;
  margin-top: 5px;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.workshop-link{
  text-decoration:none !important;
}
.workshop-field-0 .fa-comment-o {
  display: none;
}
.workshop-field-1 .fa-comment-o {
  display: none;
}
.workshop-field-0:hover .fa-comment-o {
  color: #FFF;
  display: inline;
}
.workshop-field-1:hover .fa-comment-o {
  color: #FFF;
  display: inline;
}
.fa-comment-o{
  margin-left: 3px;
}
.workshop-field > p{
  color: #000;
  margin-left: 3px;
}
.workshop-field-0{
  margin-top: 5px;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.workshops > h1 {
  color: #EFAB44;
}
.workshop-field-0:hover{
  background-color: #0099CC;
}
.workshop-field-1:hover{
  background-color: #EFAB44;

}
.workshop-field-0:hover > p{
  color: #FFF;
  text-decoration:none;
}
.workshop-field-1:hover > p{
  color: #FFF;
  text-decoration:none;
}
.tab-content img {
  max-width: 100%;
}



@media (max-width: 1300px) {
  .sidebar{
    position: relative;
    margin-top: 30px;
    text-align: center;
  }
.navbar-left{
  display:none;
}
  .appended .nav-left > li > a{
    color: #FFFFFF;
  }
  .appended .nav-left > li > a:hover{
    color: #EFAB44;
    background-color: #0099CC;

  }
  .nav-left > li.active {
  border-left:2px solid #EFAB44;
}
.nav-left > li {
  border-left:2px solid #0099CC;
}

}